* {
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}
li {
  margin:1em;
  padding:0.5em;
}

.container {
  width:800px;
}

.flex_container {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}
img {
  border:3px solid white;
}
img:hover{
  background-color: rgba(192, 192, 192, 0.5);
  opacity: 0.5;
  border:solid 3px rgba(192, 192, 192, 0.5);
}
.selected {
  border:solid 3px rgb(34, 139, 34);
  background-color: rgb(34, 139, 34);
}
#count {
  color:red;
  font-weight: bold;
}
